/* Proprietà generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body{
    background-color:black;
    color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
section{
    padding: 20px 30px;
}

section.less-padd{
    padding: 5px 30px 20px;
}

/* Transizione unica */
.transition{
    overflow: hidden;
    color: white;
    background-color: black;
    border: 2px solid yellow;
    box-shadow: 0 0 20px 0 #ff073a;
    text-shadow: 0 0 5px yellow;
    transition: transform 0.4s,background-color 0.4s, box-shadow 0.4s, text-shadow 0.4s, opacity 1s;
}
.transition:hover{
    transform: scale(1.1);
    background-color: black;
    box-shadow: 0 0 20px 10px #ff073a;
    text-shadow: 0 0 10px yellow;
}

/* Colori Testo */
.rose-text{
    text-shadow: 0 0 10px #ff073a;
}
.green-text {
    /* color: #4efd54; */
    text-shadow: 0 0 10px #4efd54;
}
    
/* Separatore */
.yellow-separator{
    height: 10px;
    width: 100%;
    border-left: 5px solid yellow;
    border-right: 5px solid yellow;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    background-color: #ff073a;
    position: relative;
}

.animation-separator, .animation-separator-blue{
    position: absolute;
    z-index: 100;
    top: -2px;
    left: -5px;
    height: 10px;
    width: 100px;
    background-color: transparent;
    animation: radar 5s infinite linear;
    box-shadow: 0 0 20px 5px #ff073a;
    background-color: yellow;
    opacity: 0.1;
}

.animation-separator-blue{
    background-color: yellow;
    box-shadow: 0 0 20px 5px blue;
    top: -2px;
    right: -5px;
    left: auto;
    animation: radar2 5s infinite linear;
}

@keyframes radar{
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
        left: calc(100% - 95px);
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
        left: -5px;
    }
}

@keyframes radar2{
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
        right: calc(100% - 95px);
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
        right: -5px;
    }
}
/* Proprietà header */
header{
    padding: 25px 20px 20px;
    text-align: center;
    min-height: 170px;
}
header h1{
    /* box-shadow: 0 0 10px 0 red!important; */
    font-size: 50px;
    max-width: 500px;
    margin: 0 auto 20px;
    border-radius: 10px;
    padding: 20px 10px;
}

header h1:hover{
    transform: scale(1.03)!important;
}

/* Select difficoltà */
#difficolta{
    font-size: 15px;
    background-color: transparent;
    color: white;
    border: 2px solid yellow;
    border-radius: 5px;
    outline: none;
    text-shadow: 0 0 5px yellow;
    padding: 2px;
}

#difficolta option{
    color: black;
}

/* Sezione start */
.start{
    text-align: center;
    padding-top: 35px;
}

/* Btn di avvio del gioco*/
#campoMinato{
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    min-height: 80px;
    width: 70%;
    max-width: 200px;
    cursor: pointer;
    /* cursor: url('../img/bomb.png'), pointer; */
}
#campoMinato:visited, #campoMinato:focus{
    outline: none;
}

/* Lista numeri computer */
section h2{
    overflow: hidden;
    font-size: 30px;
    margin: 0 0 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid yellow;
    padding: 10px;
}

.numList{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.numList li{
    transition: opacity 2s;
    opacity: 0;
    margin: 10px 20px;
    font-size: 28px;
    flex-basis: calc((100% / 8) - 40px);
    text-align: center;
    border-radius: 10px;
    border: 2px solid yellow;
    box-shadow: 0 0 2px 0 #ff073a;
    transition: box-shadow 0.4s, transform 0.4s;
    /* text-shadow: 0 0 10px #ff073a, 0 0 10px #0000FF; */
}
.numList li:hover{
    box-shadow: 0 0 10px 2px #ff073a;
    transform: scale(1.1);
    cursor: default;
}

#numPC li{
    margin: 0;
}

@media all and (max-width: 991px){
    .numList li{
        flex-basis: calc((100% / 4) - 40px);
    }
    .animation-separator{
        animation: radar 3s infinite linear;
    }
    .animation-separator-blue{
        animation: radar2 3s infinite linear;
    }
}
@media all and (max-width: 575px){
    .numList li{
        flex-basis: calc((100% / 2) - 40px);
    }
    .animation-separator{
        animation: radar 1.8s infinite linear;
    }
    .animation-separator-blue{
        animation: radar2 1.8s infinite linear;
    }
}

section:last-child{
    padding: 0 20px;
}

#winLosePoints{
    cursor: default;
    opacity: 0;
    font-size: 30px;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 40px auto;
}